/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* GENERAL START */
:root {
  --body-bg: #091526;
  --block-bg: #111c2b;
  --black: #1b2720;
  --hover: #112a4f;
  --white: #fff;
}
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul,
img,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--white);
}
h1,
h2,
h3 {
  line-height: 1.25;
}
img {
  width: 100%;
}

.main {
  display:block;
}

.container {
  width: 100%;
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1240px) {
  .container {
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-h2 {
  text-transform: uppercase;
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.section {
  padding-top: 150px;
}

.blur-circle {
  z-index: 0;
}

@media (max-width: 768px) {
  html,
  body {
    background: #112a4f;
  }
  .blur-circle {
    display: none;
  }
  .section {
    padding-top: 50px;
  }
  .main-h2 {
    margin-bottom: 30px;
  }
}

.blure-curcle-container {
  position: relative;
  overflow: hidden;
}

/* GENERAL END */
/* btns    start  */
.btn {
  display: inline-block;
  padding: 15px 80px;
  color: var(--white);
  border-radius: 25px;
  border: none;
  text-decoration: none;
  background: -o-linear-gradient(350.91deg, #00464f -0.68%, #068799 92.21%);
  background: linear-gradient(99.09deg, #00464f -0.68%, #068799 92.21%);
  font-size: 24px;
}
@media (max-width: 550px) {
  .btn {
    width: 100%;
    padding: 15px 30px;
  }
}
/* btns    end  */
/* HEADER START */
.header-container {
  position: relative;
}
.header {
  position: absolute;
  top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--block-bg);
  width: 100%;
  z-index: 50000;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 25px;
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
  -webkit-animation: ease-in;
          animation: ease-in;
}
.header__body {
  width: 100%;
  position: relative;
  z-index: 50000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__logo-img {
  display: none;
  margin-right: auto;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 220px;
}

.header__menu {
  width: 100%;
}

.header__link {
  font-size: 18px;
  font-weight: 700;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--white);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
}
.header__link:hover {
  cursor: pointer;
  background-color: var(--hover);
}
.header__burger {
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 10px;
}

.main-menu__list {
  position: relative;
  z-index: 50000;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-menu__li {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
.main-menu__li:nth-child(3) {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1300px) {
  .main-menu__li:nth-child(3) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media (max-width: 1192px) {
  .main-menu__li:not(:first-child) {
    margin-left: 20px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__logo {
    max-width: 240px;
  }
}

@media (max-width: 1240px) {
  .header {
    position: fixed;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: -o-linear-gradient(
      354.45deg,
      rgba(9, 21, 38, 0.8) -0.2%,
      rgba(11, 31, 61, 0.8) 100.33%
    );
    background: linear-gradient(
      95.55deg,
      rgba(9, 21, 38, 0.8) -0.2%,
      rgba(11, 31, 61, 0.8) 100.33%
    );
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
  .main-menu__list {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: -o-linear-gradient(
      354.45deg,
      rgba(9, 21, 38, 0.8) -0.2%,
      rgba(11, 31, 61, 0.8) 100.33%
    );
    background: linear-gradient(
      95.55deg,
      rgba(9, 21, 38, 0.8) -0.2%,
      rgba(11, 31, 61, 0.8) 100.33%
    );
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
  .main-menu__list {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
  .main-menu__li {
    text-align: center;
  }
  .header {
    right: 0;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: -o-linear-gradient(
      354.45deg,
      rgba(9, 21, 38, 0.8) -0.2%,
      rgba(11, 31, 61, 0.8) 100.33%
    );
    background: linear-gradient(
      95.55deg,
      rgba(9, 21, 38, 0.8) -0.2%,
      rgba(11, 31, 61, 0.8) 100.33%
    );
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
  .header__logo-img {
    display: block;
    width: 80px;
  }
  .header__body {
    padding: 15px 0;
  }
  .header__list {
    position: fixed;
    z-index: 50000;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    font-size: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main-menu {
    position: relative;
  }

  .burger_active + .header__menu .main-menu__title {
    display: block;
  }
  .main-menu__list {
    position: relative;
    z-index: 50000;
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding-left: 0;
    background-color: var(--block-bg);
  }

  .main-menu__li {
    display: block;
    width: 100%;
  }

  .header__link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    width: 100%;
    display: block;
  }
  .header__link:hover {
    background-color: rgba(34, 135, 73, 0.1);
  }
  .link-hover::after {
    display: none;
  }
  .main-menu__list li:not(:first-child) {
    margin-left: 0;
    margin-top: 30px;
  }
  .overflow-hidden-y {
    overflow-y: hidden;
  }
  .menu_active {
    background-color: var(--block-bg);
    z-index: 50000;
    padding-top: 100px;
    left: 0;
    bottom: 0;
  }
  .header__burger {
    display: block;
    z-index: 51000;
  }
  .header__callback .btn-callback {
    display: none;
  }
  .header__phone-span {
    display: none;
  }
  .header__phone-txt {
    display: none;
  }
  .header__phone-icon {
    display: block;
    width: 30px;
  }

  .header__logo {
    margin-left: 20px;
    margin-right: 20px;
  }

  .header__logo-min img {
    position: relative;
    z-index: 50001;
  }

  .header__menu {
    display: none;
  }
  .burger_active + .header__menu {
    display: block;
  }
  .header__burger {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 35px;
  }

  .header__burger span {
    display: block;
    height: 3px;
    width: 35px;
    background-color: var(--white);
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger span:not(first-child) {
    margin-top: 7px;
  }
  .header__burger span:first-child {
    margin-top: 0;
  }

  .burger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: -11px;
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: 0;
  }
}

.header__logo-img-mob {
  display: none;
  margin-left: 10px;
}

@media (max-width: 550px) {
  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
  .header__logo-img-mob {
    display: block;
  }
  .header__logo-min img {
    width: 100%;
    width: 240px;
  }
  .header__logo-img {
    display: none;
  }
}

/* HEADER END   */

/* block1 START   */
.block1 {
  margin-top: 180px;
  position: relative;
  padding-top: 90px;
}
.block1 .container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.block1__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--block-bg);
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: visible;
}

.block1__h1 {
  position: relative;
  z-index: 1300;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: var(--block-bg);
}
.block1__p {
  position: relative;
  z-index: 1300;
  max-width: 480px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 1px;
  background-color: var(--block-bg);
}
.block1__img {
  position: relative;
  z-index: 1002;
  margin-bottom: -50px;
}
.elipse {
  position: absolute;
  z-index: 1003;
  top: -157px;
  left: 0;
  bottom: -80px;
  -webkit-transform: scale(1.13) translate(-20px, 20px);
      -ms-transform: scale(1.13) translate(-20px, 20px);
          transform: scale(1.13) translate(-20px, 20px);
}

.block1 .container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  height: 190px;
  max-width: 700px;
  border-top-left-radius: 35px;
  z-index: 1004;
  background-color: var(--block-bg);
}

.block1 .container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 190px;
  max-width: 50px;
  z-index: 1004;
  background-color: var(--block-bg);
  border-bottom-left-radius: 25px;
}

.block1 .btn {
  position: relative;
  z-index: 1004;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.block1__item:first-child {
  position: relative;
  z-index: 1006;
  background-color: var(--block-bg) !important;
}
.block1__body_page-about {
  text-align: center;
  padding: 120px 0 60px;
}

.block1__body_page-about .block1__item:first-child {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block1__body_page-about .block1__item:last-child {
  display: none;
}

.block1__item_page-about {
  display: none;
}

@media (max-width: 1240px) {
  .main-menu__li:nth-child(3) {
    display: none;
  }

  .elipse {
    display: none;
  }
  .block1 .container::after {
    display: none;
  }
  .block1__body::before {
    display: none;
  }

  .header {
    top: 25px;
  }
}

@media (max-width: 768px) {
  .block1 {
    margin-top: 60px;
  }
  .block1-buy__body,
  .block1__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 25px;
  }
  .block1-buy__item:last-child,
  .block1__item:last-child {
    margin-top: 30px;
  }

  .block1__body_page-about {
    padding: 60px 0;
  }
}

@media (max-width: 550px) {
  .block1 {
    text-align: center;
    overflow: hidden;
  }
  .block1__h1 {
    font-size: 36px;
    background-color: transparent;
  }
  .block1__p {
    font-size: 18px;
    background-color: transparent;
  }

  .block1-buy__body,
  .block1__body {
    position: relative;
    margin-top: 40px;
    padding-bottom: 60px;
  }

  .block1__item:last-child {
    display: none;
  }
}

/* block1 END   */

/* WHY CHOOSE US START   */

/* WHY CHOOSE US END   */

.choose-us__body {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-icon {
  position: relative;
  background: #111c2a;
  -webkit-backdrop-filter: blur(290px);
          backdrop-filter: blur(290px);
  border-radius: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 35px;
  padding-top: 105px;
}

.card-icon::before {
  content: "";
  top: -80px;
  position: absolute;
  width: 180px;
  height: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 189, 215, 0.06);
  -webkit-backdrop-filter: blur(48px);
          backdrop-filter: blur(48px);
  border-radius: 50%;
}

.card-icon__icon {
  background-color: rgba(0, 189, 215, 0.06);
  -webkit-backdrop-filter: blur(48px);
          backdrop-filter: blur(48px);
  border-radius: 50%;
}

.card-icon_1::before {
  background-image: url("../img/icons/1.svg");
}
.card-icon_2::before {
  background-image: url("../img/icons/2.svg");
}
.card-icon_3::before {
  background-image: url("../img/icons/3.svg");
}

.card-icon__txt {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.card-icon__icon {
  display: none;
}

@media (max-width: 1240px) {
  .card-icon {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1024px) {
  .choose-us__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 30px;
    padding-top: 0;
  }

  .card-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    padding: 20px;
  }
  .card-icon__txt {
    text-align: left;
  }

  .card-icon__icon {
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 15px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    max-width: 100px;
  }

  .card-icon::before {
    display: none;
  }
}

@media (max-width: 375px) {
  .card-icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-icon__txt {
    text-align: center;
  }
}

/* our-advantages START */
.our-advantages {
  padding-bottom: 100px;
  position: relative;
}

.swiper-advantages {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.swiper-advantages .swiper-wrapper {
  padding-top: 60px;
  padding-bottom: 80px;
}

.swiper-advantages .swiper-pagination-wrapper {
  width: 100%;
  max-width: 540px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.swiper-advantages .swiper-pagination-bullet {
  width: 33.333%;
  background-color: #096078;
  margin: 0 !important;
  height: 5px;
}
.swiper-advantages .swiper-pagination-bullet {
  border-radius: 0;
}
.swiper-advantages .swiper-pagination-bullet:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.swiper-advantages .swiper-pagination-bullet:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.swiper-advantages .swiper-pagination-bullet-active {
  background-color: #0498b2;
  border-radius: 10px !important;
  height: 10px;
  bottom: -5px;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.swiper-advantages .swiper-slide-active {
  position: relative;
  z-index: 10;
  -webkit-transform: scale(1.1) translate(-10%, 0);
      -ms-transform: scale(1.1) translate(-10%, 0);
          transform: scale(1.1) translate(-10%, 0);
}
.swiper-advantages .swiper-slide {
  border-radius: 30px !important;
  position: relative;
}

.swiper-advantages .swiper-slide::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.339);
  border-radius: 30px;
}

.swiper-advantages .swiper-slide-active::before {
  display: none;
}

.swiper-advantages .swiper-slide.swiper-slide-prev {
  border-radius: 30px;
  position: relative;
  z-index: 5;
}

.swiper-advantages .swiper-slide.swiper-slide-next {
}

.swiper-slide-active .advantages-slide {
  background: #0498b2;
}

.swiper-button-prev,
.swiper-button-next {
  display: block;
  background-image: url("../img/icons/slider-arrow.svg");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  color: transparent;
  bottom: 25px;
}
.swiper-button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.advantages-slide {
  position: relative;
  width: 530px;
  margin-left: auto;
  margin-right: auto;
  background: var(--body-bg);
  -webkit-backdrop-filter: blur(290px);
          backdrop-filter: blur(290px);
  padding: 40px;
  border-radius: 30px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.advantages-slide__title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.advantages-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.advantages-slide__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.advantages-slide__item:first-child {
  width: 180px;
  height: 180px;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}

.advantages-slide__item_1 {
  background-image: url("../img/adv1.jpg");
}
.advantages-slide__item_2 {
  background-image: url("../img/adv2.jpg");
}
.advantages-slide__item_3 {
  background-image: url("../img/adv3.jpg");
}

@media (max-width: 1240px) {
  .swiper-advantages .swiper-slide-active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .swiper-advantages .swiper-slide.swiper-slide-prev {
    margin-right: 0;
  }

  .swiper-pagination-wrapper {
    display: none;
  }

  .swiper-btn-wrapper {
    position: relative;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }

  .advantages-slide__item:first-child {
    width: 100px;
    height: 100px;
  }

  .advantages-slide {
    width: 100%;
  }

  .advantages-slide {
    padding: 20px;
  }
}
/* our-advantages END */

/* our-services START */
.our-services__body {
  background-color: var(--block-bg);
  padding: 50px 40px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-services__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-services__item:last-child {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 460px;
  background-image: url("../img/our-services.jpg");
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50px;
  margin-left: 20px;
}

.our-services__item_page-about:last-child {
  background-image: url("../img/hand-btc-bg.jpg");
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.our-services__item.our-services__item_page-buy {
  background-image: url("../img/abstract-stat.jpg");
}

.our-services__item_page-about-img {
  display: none;
  border-radius: 35px;
}

.our-services__txt.our-services__txt_page-about {
  font-size: 24px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.our-services__txt {
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  max-width: 440px;
  margin: 0;
}
@media (max-width: 768px) {
  .our-services__body {
    background-image: url("../img/our-services.jpg");
    background-size: cover;
    background-position: 50% 50%;
    padding: 30px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-services__item:last-child {
    display: none;
  }

  .our-services__item_page-about-img {
    display: block;
    width: 100%;
  }

  .our-services__txt {
    font-size: 20px;
    padding: 30px;
    border-radius: 35px;
    background-color: var(--block-bg);
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .our-services__body.our-services__body_page-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 100%;
  }
  .our-services__item.our-services__item_page-about {
    display: block;
    background-image: url("../img/hand-btc-bg.jpg");
    background-color: #fff;
    height: 210px;
    width: 100%;
    margin-left: 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .our-services__txt.our-services__txt_page-about {
    font-size: 20px;
  }
  .our-services__txt.our-services__txt_page-about {
    margin: 0;
  }
}
/* our-services END */

.footer {
  padding: 150px 0;
  text-align: center;
}

.footer__ul {
  background-color: var(--block-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-radius: 50px;
  padding: 0 50px 50px 50px;
}

.footer__link {
  display: inline-block;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 100px;
}

.footer__link:hover {
  background: #112a4f;
}

.footer__li:nth-child(3) .footer__link:hover {
  background-color: transparent;
}

@media (max-width: 1240px) {
  .footer__link {
    padding: 8px 15px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 50px 0;
    text-align: center;
  }

  .footer__link {
    display: none;
  }

  .footer__ul {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

/* referal-system START */

.referal-system__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.referal-system__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: var(--block-bg);
  border-radius: 25px;
}
.referal-system__item:first-child {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.referal-system__item:last-child {
  margin-left: 20px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.referal-system__ab-bg {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 25px;
}

@media (max-width: 550px) {
  .referal-system__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .referal-system__item:last-child {
    margin-left: 0;
    margin-top: 15px;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: none;
  }
}

/* referal-system END */

/* text-block START */

.text-block__body {
  background-color: var(--block-bg);
  padding: 30px;
  border-radius: 35px;
  text-align: center;
}

.text-block__p {
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  font-size: 32px;
}

@media (max-width: 768px) {
  .text-block__p {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

/* text-block END */

/* block1-buy START */

.block1-buy__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--block-bg);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: visible;
}

.block1-buy .container::before {
  display: none;
}

.block1-buy .container::after {
  display: none;
}

.block1-buy__item:first-child {
  border-radius: 35px;
  padding: 40px 20px;
  background: #192a40;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.block1-buy__item:last-child img {
  border-radius: 35px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block1-buy__h1 {
  font-size: 24px;
  text-align: center;
  color: #fff;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 550px) {
  .block1-buy__item:last-child {
    margin-top: 30px;
  }
}
/* block1-buy END */

/* form-buy START */

.form-buy {
  margin-top: 60px;
}

.form-buy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-buy__row:not(:first-child) {
  margin-top: 30px;
}

.form-buy__input {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
}

.form-buy__btn {
  padding-left: 25px;
  padding-right: 25px;
}

.form-buy__btn,
.form-buy__input_ml15 {
  margin-left: 15px;
}

.form-buy__input::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-buy__input:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-buy__input::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-buy__input:-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 550px) {
  .form-buy__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-buy__btn,
  .form-buy__input_ml15 {
    margin-left: 0;
    margin-top: 30px;
  }
}

/* form-buy END */

/* crypto-list START */
.crypto-list__body {
  padding: 60px;
  border-radius: 35px;
  background-color: var(--block-bg);
}
.crypto-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.crypto-list__row:not(:first-child) {
  margin-top: 50px;
}

.crypto-list__item:not(:first-child) {
  margin-left: 15px;
}

.crypto-list__item {
  -ms-flex-preferred-size: calc(16.666% - 15px);
      flex-basis: calc(16.666% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crypto-list__icon {
  max-width: 120px;
}

.crypto-list__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.crypto-list__row-hidden {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.crypto-list__row-hidden_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.crypto-list__btn-hidden {
  display: none;
}

@media (max-width: 550px) {
  .crypto-list__row:not(:first-child) {
    margin-top: 0;
  }
  .crypto-list__item {
    -ms-flex-preferred-size: calc(33.333% - 15px);
        flex-basis: calc(33.333% - 15px);
    margin-top: 15px;
  }
  .crypto-list__item:not(:first-child) {
    margin-left: 0;
  }

  .crypto-list__item:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .crypto-list__item:nth-child(5) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
/* crypto-list END */