/* GENERAL START */
:root {
  --body-bg: #091526;
  --block-bg: #111c2b;
  --black: #1b2720;
  --hover: #112a4f;
  --white: #fff;
}
*,
::before,
::after {
  box-sizing: border-box;
}
ul,
img,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--white);
}
h1,
h2,
h3 {
  line-height: 1.25;
}
img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

@media(max-width:1240px) {
  .container {
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* GENERAL END */
/* btns    start  */
.btn {
  display: inline-block;
  padding: 15px 80px;
  color: var(--white);
  border-radius: 25px;
  text-decoration: none;
  background: linear-gradient(99.09deg, #00464f -0.68%, #068799 92.21%);
  font-size: 24px;
}
/* btns    end  */
/* HEADER START */
.header-container {
  position: relative;
}
.header {
  position: absolute;
  top: 180px;
  display: flex;
  justify-content: center;
  background-color: var(--block-bg);
  width: 100%;
  z-index: 50000;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 25px;
}
.header__body {
  width: 100%;
  position: relative;
  z-index: 50000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 100%;
  max-width: 360px;
}
.header__logo-img {
  display: none;
  margin-right: auto;
  width: 100%;
  object-fit: contain;
  max-width: 220px;
}


.header__menu {
  width: 100%;
}

.header__link {
  font-size: 18px;
  font-weight: 700;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
}
.header__link:hover {
  cursor: pointer;
  background-color: var(--hover);
}
.header__burger {
  display: none;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 10px;
}

.main-menu__list {
  position: relative;
  z-index: 50000;
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.main-menu__li:nth-child(3) {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1300px) {
  .main-menu__li:nth-child(3) {
    flex-basis: 40%;
  }
}
@media (max-width: 1192px) {
  .main-menu__li:not(:first-child) {
    margin-left: 20px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__logo {
    max-width: 240px;
  }
}

@media (max-width: 1240px) {
  .header__list {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-basis: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(95.55deg, rgba(9, 21, 38, 0.8) -0.2%, rgba(11, 31, 61, 0.8) 100.33%);
  backdrop-filter: blur(50px);
  }
  .main-menu__list {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(95.55deg, rgba(9, 21, 38, 0.8) -0.2%, rgba(11, 31, 61, 0.8) 100.33%);
  backdrop-filter: blur(50px);
  }
  .main-menu__list {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
  .main-menu__li {
    text-align: center;
  }
  .header {
    right: 0;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(95.55deg, rgba(9, 21, 38, 0.8) -0.2%, rgba(11, 31, 61, 0.8) 100.33%);
  backdrop-filter: blur(50px);
  }
  .header__logo-img {
    display: block;
    width: 80px;
  }
  .header__body {
    padding: 15px 0;
  }
  .header__list {
    position: fixed;
    z-index: 50000;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    transition: all 0.3s;
  }
  .main-menu {
    position: relative;
  }

  .burger_active + .header__menu .main-menu__title {
    display: block;
  }
  .main-menu__list {
    position: relative;
    z-index: 50000;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 0;
    background-color: var(--block-bg);
  }

  .main-menu__li {
    display: block;
    width: 100%;
  }

  .header__link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    width: 100%;
    display: block;
  }
  .header__link:hover {
    background-color: rgba(34, 135, 73, 0.1);
  }
  .link-hover::after {
    display: none;
  }
  .main-menu__list li:not(:first-child) {
    margin-left: 0;
    margin-top: 30px;
  }
  .overflow-hidden-y {
    overflow-y: hidden;
  }
  .menu_active {
    background-color: var(--block-bg);
    z-index: 50000;
    padding-top: 100px;
    left: 0;
    bottom: 0;
  }
  .header__burger {
    display: block;
    z-index: 51000;
  }
  .header__callback .btn-callback {
    display: none;
  }
  .header__phone-span {
    display: none;
  }
  .header__phone-txt {
    display: none;
  }
  .header__phone-icon {
    display: block;
    width: 30px;
  }

  .header__logo {
    margin-left: 20px;
    margin-right: 20px;
  }

  .header__logo-min img {
    position: relative;
    z-index: 50001;
  }

  .header__menu {
    display: none;
  }
  .burger_active + .header__menu {
    display: block;
  }
  .header__burger {
    order: 5;
    width: 35px;
  }

  .header__burger span {
    display: block;
    height: 3px;
    width: 35px;
    background-color: var(--white);
    border-radius: 2px;
    transition: all 0.3s;
  }
  .header__burger span:not(first-child) {
    margin-top: 7px;
  }
  .header__burger span:first-child {
    margin-top: 0;
  }

  .burger_active span:nth-child(1) {
    transform: rotate(-45deg);
    margin-bottom: -11px;
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    transform: rotate(45deg);
    margin-bottom: 0;
  }
}

.header__logo-img-mob {
  display: none;
  margin-left: 10px;
}


@media(max-width:550px) {


  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
  .header__logo-img-mob {
    display: block;
  }
  .header__logo-min img {
    width: 100%;
    width: 240px;
  }
  .header__logo-img {
    display: none;
  }
}


/* HEADER END   */

/* block1 START   */
.block1 {
  margin-top: 180px;
  position: relative;
  padding-top: 90px;
}
.block1 .container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.block1__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--block-bg);
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: visible;
}

.block1__h1 {
  position: relative;
  z-index: 1300;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: var(--block-bg);
}
.block1__p {
  position: relative;
  z-index: 1300;
  max-width: 480px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 1px;
  background-color: var(--block-bg);
}
.block1__img {
  position: relative;
  z-index: 1002;
  margin-bottom: -50px;
}
.elipse {
  position: absolute;
  z-index: 1003;
  top: -150px;
  left: 0;
  right: -115px;
  bottom: -55px;
  background-image: url("../img/elipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.13) translate(-20px, 20px);
}
.block1__body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 40px;
  width: 100%;
  max-width: 420px;
  background-color: var(--block-bg);
  z-index: 1004;
}
.block1 .container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  height: 120px;
  max-width: 900px;
  z-index: 1004;
  background-color: var(--block-bg);
}
.block1 .btn {
  position: relative;
  z-index: 1004;
}
.block1 .container::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 700px;
  left: 0;
  right: 0;
  top: 45px;
  height: 100px;
  background-color: var(--block-bg);
  z-index: 1004;
}

.overflow-x-hidden {
  overflow-x: hidden;
}



@media (max-width: 1240px) {
 
  
  .main-menu__li:nth-child(3) {
    display: none;
  }
  .overflow-x-hidden {
    overflow: auto;
  }
  .elipse {
    display: none;
  }
  .block1 .container::after {
    display: none;
  }
  .block1__body::before {
    display: none;
  }

  .header {
    top: 40px;
  }
  .block1 {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .block1 {
    margin-top: 60px;
  }
  .block1__body {
    flex-direction: column;
  }
  .block1__item:last-child {
    margin-top: 30px;
  }
}

@media(max-width:550px) {
  .block1 {
    text-align: center;
  }
  .block1__h1 {
    font-size: 36px;
    background-color: none;

  }
  .block1__p {
    font-size: 18px;
    background-color: none;

  }

  .block1__body {
    margin-top: 40px;
    border-radius: 25px;
    padding-bottom: 60px;
  }

  .block1__item:last-child {
    display: none;
  }

}

/* block1 END   */
